<!doctype html>
<html lang="en-US">

<head>

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Personal Portfolio Template" />
	<meta name="keywords" content="resposnive, resume, personal, personal portfolio, cv, myour, portfolio" />
	<meta name="author" content="beshleyua" />

	<!-- Title -->
	<title>FSDT - FullStack Dev Training</title>

	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe&display=swap" rel="stylesheet">

	<!-- QuocDat -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">

	<style>
		.roboto-thin {
			font-family: "Roboto", sans-serif;
			font-weight: 100;
			font-style: normal;
		}

		.roboto-light {
			font-family: "Roboto", sans-serif;
			font-weight: 300;
			font-style: normal;
		}

		.roboto-regular {
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			font-style: normal;
		}

		.roboto-medium {
			font-family: "Roboto", sans-serif;
			font-weight: 500;
			font-style: normal;
		}

		.roboto-bold {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-style: normal;
		}

		.roboto-black {
			font-family: "Roboto", sans-serif;
			font-weight: 900;
			font-style: normal;
		}

		.roboto-thin-italic {
			font-family: "Roboto", sans-serif;
			font-weight: 100;
			font-style: italic;
		}

		.roboto-light-italic {
			font-family: "Roboto", sans-serif;
			font-weight: 300;
			font-style: italic;
		}

		.roboto-regular-italic {
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			font-style: italic;
		}

		.roboto-medium-italic {
			font-family: "Roboto", sans-serif;
			font-weight: 500;
			font-style: italic;
		}

		.roboto-bold-italic {
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-style: italic;
		}

		.roboto-black-italic {
			font-family: "Roboto", sans-serif;
			font-weight: 900;
			font-style: italic;
		}
	</style>

	<!-- End Quoc Dat -->
	<!-- Styles -->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/jarallax.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/swiper.css" />
	<link rel="stylesheet" href="css/fontawesome.css" />

	<link rel="shortcut icon" href="images/favicons/logo.png">

</head>

<body class="home">

	<!-- Preloader -->
	<div class="preloader">
		<div class="box-1">
			<div class="centrize full-width">
				<div class="vertical-center">
					<div class="spinner">
						<div class="lines"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-2"></div>
	</div>

	<!-- Container -->
	<div class="container">

		<!-- Header -->
		<header class="header">

			<!-- logo -->
			<div class="logo">
				<a href="#">
					<img class="logo-img" src="images/favicons/logo.png" alt="" />
					<span class="logo-lnk roboto-bold">VitaminCode </br> Coding&Life</span>
				</a>
			</div>

			<!-- menu button -->
			<a href="#" class="menu-btn"><span></span></a>

			<!-- download cv button -->
			<a href="#" class="btn download-cv-btn">
				<span class="animated-button"><span>FSDT</span></span>
				<i class="icon fas fa-download"></i>
			</a>

			<!-- header sidebar -->
			<div class="header-sidebar">

				<!-- top menu -->
				<div class="top-menu">
					<div class="top-menu-nav">
						<div class="menu-topmenu-container">
							<ul class="menu">
								<li class="menu-item current-menu-item menu-item-has-children">
									<a href="#section-started">
										<span class="animated-button"><span class="roboto-bold">Khoá Học</span></span>
									</a>
									<ul class="sub-menu">
										<li class="menu-item current-menu-item roboto-bold"><a href="NBDT.html">NBDT (Tư
												Duy Lập Trình)</a></li>
										<li class="menu-item roboto-bold"><a href="FSDT.html">FSDT (Fullstack)</a></li>
									</ul>
								</li>
								<li class="menu-item">
									<a href="#section-about">
										<span class="animated-button"><span>About</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-services">
										<span class="animated-button"><span>Service</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-experience">
										<span class="animated-button"><span>Experience</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-skills-code">
										<span class="animated-button"><span>Coding Skill</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-event">
										<span class="animated-button"><span>Event</span></span>
									</a>
								</li>
								<li class="menu-item">
									<a href="#section-contacts">
										<span class="animated-button"><span>Contact</span></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</header>

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Background -->
			<div class="background-bg">
				<div class="">
					<div class="background-img"
						style="background-image: url(images/vitamincodeimg/FSDT-bgr00.png);"></div>
				</div>
			</div>

			<!-- Section Started -->
			<div class="section started" id="section-started">
				<div class="centrize full-width">
					<div class="vertical-center">

						<!-- title -->
						<h1 class="h-title" style="color: yellow !important;">
							FSDT <br />
						</h1>

						<!-- content started -->
						<div class="started-content">

							<!-- subtitle -->
							<div class="h-subtitles">
								<div class="h-subtitle typing-subtitle">
									<p>Fullstack Dev Training</p>
									<p>Logical Thinking</p>
									<p>Programmer</p>
								</div>
								<span class="typed-subtitle"></span>
							</div>

							<!-- text -->
							<div class="roboto-bold">
								Xin chào các IT-er, </br>
								Mình là VitaminCode đây là chương trình FSDT <span class="roboto-black-italic"
									style="color: yellow; font-size: 90%;">(Fullstack Dev Training)</span>
								được xây dựng dựa trên kinh nghiệm dự án của các lập trình viên Fullstack đến từ doanh nghiệp
								để đào tạo các bạn lập trình viên trẻ có kiến thức lập trình
								Fullstack từ cơ bản tới nâng cao khi bước vào lĩnh vực chuyên sâu của ngành Công Nghệ Thông Tin.
								Môi trường học tập năng động - thực tiễn,
								đồng hành là các anh chị lập trình viên có nhiều kinh nghiệm dự án thực tế.
							</div>

							<!-- button -->
							<a href="#" class="btn">
								<span class="animated-button"><span>Contact Me</span></span>
								<i class="icon fas fa-chevron-right"></i>
							</a>

							<!-- mosue button -->
							<a href="#" class="btn mouse-btn" style="display: none;">
								<i class="icon fas fa-chevron-down"></i>
							</a>

						</div>

					</div>
				</div>
			</div>

			<!-- Section About -->
			<div class="section about" id="section-about">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title roboto-regular" style="color: yellow;">About VitaminCode</div>
						<div class="subtitle roboto-thin" style="color: yellow;">Câu chuyện của chúng tớ</div>
					</div>

					<!-- text -->
					<div class="cols">
						<div class="col">
							<div class="single-post-text roboto-medium">
								<p>
									Mong muốn kết nối để đồng hành cùng các bạn lập trình viên trẻ cùng các anh chị lập
									trình viên tại các doanh nghiệp.
								</p>
							</div>
						</div>
						<div class="col">
							<div class="single-post-text roboto-medium">
								<p>
									Xây dựng một cộng đồng lập trình viên trẻ có chất lượng, có kiến thức về chuyên môn
									và kỹ năng mềm.
									<span class="roboto-black-italic"
										style="color: rgb(255, 255, 255); font-size: 90%;">
										Đạo đức - Trí tuệ - Nghị lực
									</span>
								</p>
							</div>
						</div>
						<div class="col col-full">
							<div class="single-post-text roboto-medium">
								<p>
									Chúng mình là những sinh viên tại các trường ĐH/CĐ và là các lập trình viên đến từ
									các doanh nghiệp,
									chúng mình có vài thành tựu nhỏ trong việc làm các dự án OutSource về các hệ thống
									Web và đào tạo ra nhiều thế hệ
									lập trình viên Fullstack.
								</p>
							</div>
						</div>
					</div>

					<!-- info list -->
					<div class="info-list">
						<ul>
							<li><strong>Age:</strong> 1</li>
							<li><strong>Mentor:</strong> 6</li>
							<li><strong>Class:</strong> 11</li>
							<li><strong>Address:</strong> Tp.Ho Chi Minh</li>
							<li><strong>Phone:</strong> 0862 308 110 (Dev MinhNam)</li>
							<li><strong>E-mail:</strong> vitamincode10@gmail.com</li>
						</ul>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Service -->
			<div class="section service" id="section-services">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title" style="color: yellow;">Services</div>
						<div class="subtitle" style="color: yellow;">What I Do</div>
					</div>

					<!-- services items -->
					<div class="service-items">

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="fas fa-brain"></i></div>
								<div class="name roboto-bold">Logical <br />Thinking</div>
								<div class="single-post-text roboto-light-italic">
									<p>
										Xây dựng nền tảng tư duy lập trình từ căn bản tới nâng cao.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="icon fa fa-code"></i></div>
								<div class="name roboto-bold">FullStack<br />Developer</div>
								<div class="single-post-text roboto-light-italic">
									<p>
										Đào tạo những khoá học nâng cao chuyên xâu về lập trình hệ thống FullStack.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="icon fas fa-gamepad"></i></div>
								<div class="name roboto-bold">Game & Sport</div>
								<div class="single-post-text roboto-light-italic">
									<p>
										Tổ chức các hoạt động thể chất / Thể thao điện tử năng động cho các bạn lập
										trình viên trẻ.
									</p>
								</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item">
								<div class="icon"><i class="fas fa-video"></i></div>
								<div class="name">Social Media</div>
								<div class="single-post-text roboto-light-italic">
									<p>
										Các kênh truyền thông kết nối </br>
										<a target="_blank" href="https://www.facebook.com/vitamincode.edu.vn">fb: VitaminCode</a>.</br>
										<a target="_blank" href="https://vitamincode.edu.vn/">web: VitaminCode</a>.
									</p>
								</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Experience -->
			<div class="section resume" id="section-experience">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title" style="color: yellow;">Experience</div>
						<div class="subtitle" style="color: yellow;">Training</div>
					</div>

					<!-- resume items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">

							<div class="item">
								<div class="resume-item active">
									<div class="date">2020-2024</div>
									<div class="name">FullStack <br />Training</div>
									<div class="single-post-text roboto-thin-italic">
										<p>
											Đồng hành và đào tạo 450+ các bạn lập trình viên trẻ trong suốt quá trình
											học và phát triển.
										</p>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="resume-item">
									<div class="date">Present</div>
									<div class="name">NBDT <br />Newbie Dev Training</div>
									<div class="single-post-text roboto-thin-italic">
										<p>
											Tiếp tục xây dựng và đồng hành cùng các thệ hệ lập trình viên trẻ.
										</p>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="resume-item">
									<div class="date">Present</div>
									<div class="name">FSDT <br />Fullstack Dev Training</div>
									<div class="single-post-text roboto-thin-italic">
										<p>
											Đào tạo các lập trình viên hướng Fullstack.
										</p>
									</div>
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>

				</div>
			</div>

			<!-- Section Coding Skills -->
			<div class="section skills" id="section-skills-code">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title" style="color: yellow;">Coding Skills</div>
						<div class="subtitle" style="color: yellow;">Developing on</div>
					</div>

					<!-- skills items-->
					<div class="skills circles">
						<ul>
							<li>
								<div class="progress p80"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>80%</span>
								</div>
								<div class="name">Logical Thinking</div>
								<div class="single-post-text">
									<p class="roboto-thin-italic">
										Rèn luyện tư duy lập trình, kỹ thuật lập trình OOP/OAP với ngôn ngữ lập trình Java.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p90"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>90%</span>
								</div>
								<div class="name">Source Control</div>
								<div class="single-post-text">
									<p class="roboto-thin-italic">
										Tổ chức và quản lý mã nguồn dự án với Git/Github.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p70"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>70%</span>
								</div>
								<div class="name">Deployment</div>
								<div class="single-post-text">
									<p class="roboto-thin-italic">
										Triển khai một hệ thống.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p90"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>85%</span>
								</div>
								<div class="name">Database</div>
								<div class="single-post-text">
									<p class="roboto-thin-italic">
										Rèn luyện tư duy phân tích nghiệp vụ, hệ thống dữ liệu khách hàng, 
										dựa trên các hệ thống quản trị doanh nghiệp với công nghệ như MySQL/Oracle/PostgreSQL.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p90"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>85%</span>
								</div>
								<div class="name">BackEnd</div>
								<div class="single-post-text">
									<p class="roboto-thin-italic">
										Lập trình hệ thống Web BackEnd từ cơ bản tới nâng cao với ngôn ngữ lập trình Java.
									</p>
								</div>
							</li>
							<li>
								<div class="progress p90"> <!-- p90 = 90% circle fill color -->
									<div class="percentage"></div>
									<span>85%</span>
								</div>
								<div class="name">FrontEnd</div>
								<div class="single-post-text">
									<p class="roboto-thin-italic">
										Lập trình giao diện người dùng từ cơ bản tới nâng cao với HTML/CSS/JS 
										Bootstrap/Webix/Vuejs.
									</p>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<!-- Section FullStack -->
			<div class="section pricing" id="section-pricing">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title" style="color: yellow;">Technical</div>
						<div class="subtitle">Road map</div>
					</div>

					<!-- pricing items -->
					<div class="content-carousel">
						<div class="owl-carousel" data-slidesview="2" data-slidesview_mobile="1">

							<!-- Database -->
							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-database"></i></div>
									<div class="name">Database</div>
									<div class="amount">
										<span class="number">
											<!-- <span class="dollar">$</span> -->
											<span>2</span>
											<span class="period">Month</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Relational SQL</li>
											<li>ERD/Business</li>
											<li>SQL Commands</li>
											<li>Oracle DB <strong>new</strong></li>
											<li>Postgre DB <strong>new</strong></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- BackEnd -->
							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-server"></i></div>
									<div class="name">BackEnd</div>
									<div class="amount">
										<span class="number">
											<!-- <span class="dollar">$</span> -->
											<span>3</span>
											<span class="period">Month</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Java Web Development</li>
											<li>OOP/OAP</li>
											<li>JavaCore - DSA</li>
											<li>JavaWeb - Java8</li>
											<li>SPA/MPA <strong>new</strong></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- FrontEnd -->
							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-laptop-code"></i></div>
									<div class="name">FrontEnd</div>
									<div class="amount">
										<span class="number">
											<!-- <span class="dollar">$</span> -->
											<span>3</span>
											<span class="period">Month</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>HTML/CSS/JS</li>
											<li>Javascript</li>
											<li>npm/yarn</li>
											<li>nodejs</li>
											<li>Web SPA - Vuejs<strong>new</strong></li>
											<li></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Git -->
							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fab fa-github"></i></div>
									<div class="name">Git/Github</div>
									<div class="amount">
										<span class="number">
											<span class="dollar">||</span>
											<span>5</span>
											<span class="period">Month</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li class="roboto-thin-italic">Học song song với BE-FE</li>
											<li>Git commands</li>
											<li>Git graphs</li>
											<li>Git workflow</li>
											<li>...</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Security -->
							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-shield-alt"></i></div>
									<div class="name">Security</div>
									<div class="amount">
										<span class="number">
											<!-- <span class="dollar">$</span> -->
											<span>6</span>
											<span class="period">Hours</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>JWT</li>
											<li>Security<strong>new</strong></li>
										</ul>
									</div>
									
								</div>
							</div>
							<!-- Devployment -->
							<div class="item">
								<div class="pricing-item">
									<div class="icons"><i class="fas fa-sitemap"></i></div>
									<div class="name">Deployment</div>
									<div class="amount">
										<span class="number">
											<!-- <span class="dollar">$</span> -->
											<span>4</span>
											<span class="period">Hours</span>
										</span>
									</div>
									<div class="feature-list">
										<ul>
											<li>Deploy Web <strong>new</strong></li>
										</ul>
									</div>
									
								</div>
							</div>

						</div>

						<!-- navigation -->
						<div class="navs">
							<span class="prev fas fa-chevron-left"></span>
							<span class="next fas fa-chevron-right"></span>
						</div>

					</div>

				</div>
			</div>

			<!-- Event -->
			<div class="section works" id="section-event">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title" style="color: yellow;">Event</div>
						<div class="subtitle" style="color: yellow;">Latest works</div>
					</div>

					<!-- filter -->
					<div class="filter-menu">
						<div class="filters">
							<div class="btn-group">
								<label data-text="All" class="glitch-effect">
									<input type="radio" name="fl_radio" value=".box-col" />All
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Image">
									<input type="radio" name="fl_radio" value=".f-fullstack" />FullStack
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Music">
									<input type="radio" name="fl_radio" value=".f-event" />Event
								</label>
							</div>
							<div class="btn-group">
								<label data-text="Music">
									<input type="radio" name="fl_radio" value=".f-interview" />Result Interview
								</label>
							</div>

						</div>
					</div>

					<!-- portfolio items -->
					<div class="box-items">

						<!-- FullStack - Class -->
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/VitaminCode01.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/VitaminCode01.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">FullStack</div>
									<a href="images/vitamincodeimg/class/VitaminCode01.jpg" class="name has-popup-image">VitaminCode01</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/VitaminCode02.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/VitaminCode02.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">FullStack</div>
									<a href="images/vitamincodeimg/class/VitaminCode02.jpg" class="name has-popup-image">VitaminCode01</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F1.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F1.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Fullstack</div>
									<a href="images/vitamincodeimg/class/F1.jpg" class="name has-popup-image">FullStack - F1</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F2.png" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F2.png" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Fullstack</div>
									<a href="images/vitamincodeimg/class/F2.jpg" class="name has-popup-image">FullStack - F2</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F3.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F3.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Fullstack</div>
									<a href="images/vitamincodeimg/class/F3.jpg" class="name has-popup-image">FullStack - F3</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F4.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F4.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Fullstack</div>
									<a href="images/vitamincodeimg/F4.jpg" class="name has-popup-image">FullStack - F4</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F5.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F5.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">FullStack</div>
									<a href="images/vitamincodeimg/class/F5.jpg" class="name has-popup-image">FullStack F5</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F6.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F6.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">FullStack</div>
									<a href="images/vitamincodeimg/class/F6.jpg" class="name has-popup-image">FullStack F6</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F7.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F7.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span> 
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Data Analyst</div>
									<a href="images/vitamincodeimg/class/F7.jpg" class="name has-popup-image">Data Analyst F7</a>
								</div>
							</div>
						</div>
						<div class="box-col f-fullstack">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/F8.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/F8.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">FullStack</div>
									<a href="images/vitamincodeimg/class/F8.jpg" class="name has-popup-image">FullStack F8</a>
								</div>
							</div>
						</div>
						<!-- FullStack - Class -->

						<!-- Event -->
						<div class="box-col f-event">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/EventEnglish.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/EventEnglish.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Event</div>
									<a href="images/vitamincodeimg/class/EventEnglish.jpg" class="name has-popup-image">English Skill </a>
								</div>
							</div>
						</div>
						<div class="box-col f-event">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/EventLapTrinhvaCuocSong.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/EventLapTrinhvaCuocSong.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Event</div>
									<a href="images/vitamincodeimg/class/EventLapTrinhvaCuocSong.jpg" class="name has-popup-image roboto-bold">Lập trình và cuộc sống</a>
								</div>
							</div>
						</div>
						<!-- Event -->
						
						<!-- Interview -->
						<div class="box-col f-interview">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/DauPhongVanFullStack.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Interview</div>
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack.jpg" class="name has-popup-image">Passed Interview</a>
								</div>
							</div>
						</div>
						<div class="box-col f-interview">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack1.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/DauPhongVanFullStack1.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Interview</div>
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack1.jpg" class="name has-popup-image">Passed Interview</a>
								</div>
							</div>
						</div>
						<div class="box-col f-interview">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack2.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/DauPhongVanFullStack2.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Interview</div>
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack2.jpg" class="name has-popup-image">Passed Interview</a>
								</div>
							</div>
						</div>
						<div class="box-col f-interview">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack3.png" class="has-popup-image">
										<img src="images/vitamincodeimg/class/DauPhongVanFullStack3.png" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Interview</div>
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack3.png" class="name has-popup-image">Passed Interview</a>
								</div>
							</div>
						</div>
						<div class="box-col f-interview">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack4.png" class="has-popup-image">
										<img src="images/vitamincodeimg/class/DauPhongVanFullStack4.png" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Interview</div>
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack4.png" class="name has-popup-image">Passed Interview</a>
								</div>
							</div>
						</div>
						<div class="box-col f-interview">
							<div class="box-item">
								<div class="image">
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack5.jpg" class="has-popup-image">
										<img src="images/vitamincodeimg/class/DauPhongVanFullStack5.jpg" alt="" />
										<span class="info">
											<span class="centrize full-width" style="opacity: 0.7">
												<span class="vertical-center">
													<i class="icon fas fa-image"></i>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="desc">
									<div class="category">Interview</div>
									<a href="images/vitamincodeimg/class/DauPhongVanFullStack5.jpg" class="name has-popup-image">Passed Interview</a>
								</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Contacts Info -->
			<div class="section contacts" id="section-contacts">
				<div class="content">

					<!-- title -->
					<div class="titles">
						<div class="title" style="color: yellow;">Contact</div>
						<div class="subtitle" style="color: yellow;">Let's talk</div>
					</div>

					<!-- contact info -->
					<div class="contact-form">
						<div class="name">Nguyen Minh Nam</div>
						<div class="subname">VitaminCode's Mentor</div>
						<div class="info-list">
							<ul>
									<li><strong>Phone:</strong> (+86) 0862 308 110</li>
									<li><strong>E-mail:</strong> minhnam1810@gmail.com</li>
									<li><strong>Facebook:</strong> <a target="_blank" href="https://www.facebook.com/vitamincode.edu.vn">VitaminCode</a></li>
							</ul>
						</div>
						<div class="author">MinhNam</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>

		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="socials">
				<a target="_blank" href="https://www.facebook.com/vitamincode.edu.vn">
					<i class="icon fab fa-facebook-f"></i>
				</a>
				<!-- <a target="_blank" href="https://www.instagram.com/">
					<i class="icon fab fa-instagram"></i>
				</a>
				<a target="_blank" href="https://dribbble.com/">
					<i class="icon fab fa-dribbble"></i>
				</a> -->
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/velocity.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/magnific-popup.js"></script>
	<script src="js/typed.js"></script>
	<script src="js/jarallax.js"></script>
	<script src="js/jarallax-video.js"></script>
	<script src="js/jarallax-element.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/isotope.pkgd.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/swiper.js"></script>
	<script src="js/scripts.js"></script>

</body>

</html>